@charset "UTF-8";

body {
	width: 375px;
	height: 812px;
}
/* 소비 등록 */
.container{
position: relative;
width: 375px;
height: 812px;
bottom: 1%;
    right: 2%;z
background: #F9F9F9;
}


/* Rectangle 17 */
.top-rectangle{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 88.18%;

background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
z-index: 1;
}

/* Vector */
.wifi{
position: absolute;
left: 81.07%;
right: 13.6%;
top: 1.97%;
/* bottom: 96.31%;

background: #000000; */
}

.wifi img{
	width:100%;
	height:100%;
}

/* Vector */
.battery{
position: absolute;
left: 88%;
right: 6.67%;
top: 2.22%;
/* bottom: 96.43%;

background: #000000; */
}
.battery img{
	width:100%;
	height:100%;
}
/* Vector */

.data{
position: absolute;
left: 74.67%;
right: 20.53%;
top: 1.72%;
/* bottom: 96.31%;

background: #000000; */
}
.data img{
	width:100%;
	height:100%;
}
/* 9:40 */
.time{
position: absolute;
left: 8.53%;
right: 78.13%;
top: 1.35%;
bottom: 96.8%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

color: #000000;
}


/* Vector */
.back-page{
position: absolute;
left: auto;
right: 90.13%;
top: 60%;
border: none;
  background: none;
  padding: 0;
  cursor: pointer;
/* bottom: 90.27%;

border: 2px solid #363636; */
}
.back-page img{
	width:100%;
	height:100%;
}

.title{
position: absolute;
/* left: 40.27%; */
right: 38.93%;
top: 43.02%;
bottom: 90.02%;

font-family: 'Abhaya Libre ExtraBold';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
/* identical to box height */

color: #363636;
}

.form{
	  display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
left: 7.2%;
right: 7.47%;
top: -4.43%;
bottom: 16.01%;

background: #FFFFFF;
box-shadow: 0px 18px 60px rgba(162, 201, 196, 0.2);
border-radius: 20px;
    overflow: auto;
    overflow-x: hidden;

}

.date{
	position: absolute;
    left: 25.87%;
    right: 36.27%;
    top: 19.13%;
    bottom: 81.28%;
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    width: 300px;
}

/* .img{
	position: absolute;

top: 460px;

 max-width: 100%;
    height: auto;
} */
.img{
	  position: absolute;
    top: 400px;
    max-width: 70%;
    height: auto;
}

.c1{
	 display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
width: 70px;
height: 28px;
left: 120px;
top: 190px;
	
	
	border-radius: 10px;
    background-color: #3B82A1;
    
    font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;
}
.c2{
	
	 display: flex;
  justify-content: center;
  align-items: center;
	
position: absolute;
width: 70px;
height: 28px;
left: 120px;
top: 190px;
	
	border-radius: 10px;
    background-color: #43B8B1;
    
 font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;   
 
}


.c3{
	 display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
width: 70px;
height: 28px;
left: 120px;
top: 190px;
	
	border-radius: 10px;
   background-color: #4D97ED;
    
 font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
 

color: #FFFFFF;   
 
}

.c4{
	 display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
width: 70px;
height: 28px;
left: 120px;
top: 190px;
	
	border-radius: 10px;
    background-color: #FF9900;
    
 font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;   
 
}
.cfont{
	  text-align: center;
}
.money{
	
	display: flex;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 42px;
    left: 80px;
    top: 221px;
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    color: #F87670;
}
.mfont{
	text-align: center;
}
.dot-line{
	position: absolute;
    width: 264px;
    height: 0px;
    left: 30px;
    top: 280px;
    border: 0.8px dashed #B5B5B5;
}

.content{
position: absolute;
    left: 19.2%;
    right: 38.67%;
    top: 45.45%;
    bottom: 58.37%;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 154px;
    color: #363636;
}
.btn1{
	
position: absolute;
left: 5.33%;
right: 50.93%;
top: 91.75%;
bottom: 1.35%;

background: #79CCB8;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 27px;
/* identical to box height */

border:none;
color: #FFFFFF;
}

.btn2{
	position: absolute;
left: 51.2%;
right: 5.07%;
top: 91.75%;
bottom: 1.35%;

background: #79CCB8;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 27px;
/* identical to box height */

border:none;
color: #FFFFFF;
}